h1{
    color: blue;
    background-color: lightgray;
}
p{
    font-size: 16px;
    color: green;
}
vechile{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
button{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}